{
  "swagger": "2.0",
  "info": {
    "description": "Template Application",
    "version": "0.1.0",
    "title": "app",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    }
  },
  "host": "app.dlss.stanford.edu",
  "basePath": "/v1",
  "schemes": ["http"],
  "paths": {
    "/healthcheck": {
      "get": {
         "summary": "Health Check",
         "description": "The healthcheck endpoint provides information about the health of the service.",
         "operationId": "healthCheck",
         "responses": {
           "200": {
             "description": "The service is functioning nominally",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           },
           "503": {
             "description": "The service is not working correctly",
             "schema": {
               "$ref": "#/definitions/HealthCheckResponse"
             }
           }
         }
      }
    }
  },
  "definitions": {
    "HealthCheckResponse": {
      "type": "object",
      "properties": {
        "status": {
          "type": "string",
          "description": "The status of the service"
        }
      },
      "example": {
        "status": "OK"
      }
    },
    "ErrorResponse": {
      "type": "object",
      "properties": {
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/Error"
          }
        }
      }
    },
    "Error" : {
      "type": "object",
      "properties": {
        "title": {
          "type": "string",
          "description": "a short, human-readable summary of the problem that SHOULD NOT change from occurrence to occurrence of the problem.",
          "example": "Invalid Attribute"
        },
        "detail": {
          "type": "string",
          "description": "a human-readable explanation specific to this occurrence of the problem.",
          "example": "Title must contain at least three characters."
        },
        "source": {
          "type": "object",
          "properties": {
            "pointer": {
              "type": "string",
              "example": "/data/attributes/title"
            }
          }
        }
      }
    }
  }
}
